.button {
    display: block;
    background: rgb(175, 72, 47);
    color: wheat;;
    padding: 0.2rem 0.4rem;
    border: 2px solid wheat;;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.button:hover {
    background: wheat;
    color: rgb(175, 72, 47);
    border: 2px solid rgb(175, 72, 47);
}