.button {
    display: block;
    background: rgb(0, 174, 255);
    color: rgb(177, 251, 232);
    padding: 0.2rem 0.4rem;
    border: 2px solid currentColor;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.button:hover {
    background: rgb(177, 251, 232);
    color: rgb(0, 174, 255);
    border: 2px solid currentColor;
}