.button {
    display: block;
    background: rgb(175, 72, 47);
    color: wheat;;
    padding: 0.3rem 0.5rem;
    border: 2px solid wheat;;
    border-radius: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.button:hover:not(:disabled) {
    background: wheat;
    color: rgb(175, 72, 47);
    border: 2px solid rgb(175, 72, 47);
}

.button:disabled {
    filter: grayscale(0.8);
}