.navBar {
    height: var(--navBarHeight);
    display: flex;
    background-color: lightgreen;
    width: clamp(300px, 50%, 800px);
}

.link {
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    line-height: var(--navBarHeight);
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
    text-decoration: none;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.currentLink {
    background-color: green;
    color: wheat;
}